* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1e1e57;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    color: #fff;
    margin-left: 10px;
}

.hero {
    background-color: #3b3b6d;
    padding: 50px;
    text-align: center;
}

.hero img {

    width: 10%;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
}

.btn {
    background-color: #00d4ff;
    padding: 10px 20px;
    color: #1e1e57;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    padding: 50px;
    text-align: center;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensures responsiveness */
}

.card {
    background-color: #2e2e66;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    margin: 15px; /* Adds some spacing between cards */
    text-align: center;
}

.card h3 {
    font-size: 1.5em;
    margin: 15px 0 10px;
}

.card p {
    font-size: 1.1em;
    color: #ccc;
}

.feature-image {
    max-width: 100%;
    height: auto; /* Ensures the image's aspect ratio is maintained */
    border-radius: 5px;
}

.data-visualization {
    padding: 50px;
    text-align: center;
}

.visualization-content {
    display: flex;
    justify-content: space-around;
}

.high-availability {
    background-color: #28284e;
    padding: 50px;
    text-align: center;
}

.contact {
    padding: 50px;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input,
.contact textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contact button {
    background-color: #00d4ff;
    padding: 10px 20px;
    color: #1e1e57;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #151533;
    text-align: center;
    padding: 20px;
}
